{
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "!**/node_modules/abab/lib/atob.js",
            "**/test/**"
          ]
        }]
      ]
    }
  }
}
