{
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "!**/node_modules/abab/**",
            "**/test/**"
          ]
        }]
      ]
    }
  }
}
